[Unit]
Description=MineStatus Service
Documentation=https://github.com/light4/mine_status
After=network.target nss-lookup.target

[Service]
# User=nobody
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ExecStart=/usr/local/bin/mine_status /usr/local/etc/mine_status/config.kdl
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
